@import "compass/css3";

$bg-default-color: #0080ff;
$bg-pink-color: #ff0080;
$bg-purple-color: #9966ff;

html * { color: #fff !important; }
.aboutpage {
    * {
        color: #fff !important;
    }
    body { background: #0080ff; }
    a * { border-color: red !important; }
}
.storepage {
    * {
        color: #ff0080 !important;
    }
    body { background: #d7d7d7; }
    a * { border-color: red !important; }
}

body {
    background: $bg-default-color;
}

// Navbar styles relocated to the custom grunt sass file:
//    `bower_components/grunt/sass/_custom.scss`

#about {
    p {
        font-size: 1.3em;
        line-height: 1.5em;
        font-weight: 800;
        margin-bottom: 20px;
        a {
            font-weight: inherit;
            color: inherit;
            border-bottom: solid 0.1em;
        }
    }
    .columns {
        padding: 15px;
    }
}
