@import "compass/css3";

$bg-default-color: #0080ff;
$bg-pink-color: #ff0080;
$bg-purple-color: #9966ff;

html * { color: #fff !important; }
.aboutpage {
    * {
        color: #fff !important;
    }
    body { background: #0080ff; }
    a * { border-color: red !important; }
}
.storepage {
    * {
        color: #ff0080 !important;
    }
    body { background: #d7d7d7; }
    a * { border-color: red !important; }
}

body {
    background: $bg-default-color;
}

// Navbar styles relocated to the custom grunt sass file:
//    `bower_components/grunt/sass/_custom.scss`

.compliment {
    padding-top: 20%;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

#actionbtns {
    padding-top: 2em;
    text-align: center;
    .btn {
        min-width: 160px;
        margin: 10px;
        background: none;
        border: #fff solid 0.15em;
        @include box-sizing(border-box);
        a {
            font-weight: 800;
        }
    }
}

.modal#buythebook {
    background: inherit;

    .content {
        border: #fff solid 0.15em;
        background: inherit;
        z-index: 1000;

        a.close.switch {
            font-size: 2em;
            font-weight: 500;
        }

        p {
            font-size: 2.5em;
            font-weight: 800;

            a {
                font-weight: inherit;
                color: inherit;
                border-bottom: #fff solid 0.15em;
            }
        }
    }
}

#about {
    p {
        font-size: 1.3em;
        line-height: 1.5em;
        font-weight: 800;
        margin-bottom: 20px;
        a {
            font-weight: inherit;
            color: inherit;
            border-bottom: solid 0.1em;
        }
    }
    .columns {
        padding: 15px;
    }
}

#store {
    #posterbox, #bookbox {
        display: block;
        background: $bg-pink-color;
    }
    #posterbox {
        height: 300px;
        width: 230px;
        margin: 20px auto 20px;
        p {
            font-size: 0.8em;
            line-height: 1.3em;
            font-weight: 800;
            color: #fff !important;
            text-align: left;
            padding: 15px;
        }
    }
    #bookbox {
        height: 230px;
        p {
            font-size: 0.7em;
            line-height: 1.0em;
            font-weight: 800;
            color: #fff !important;
            text-align: left;
            padding: 15px;
            margin-bottom: 0;
            &.small {
                padding: 0 15px;
                font-size: 0.32em;
            }
            &.author {
                margin-top: 110px;
            }
        }
    }
    #togglepviz, #togglebviz { visibility: hidden; }
    .showmobile {
        .posterpgph, .bookpgph {
            max-width: 500px;
            margin: 0 auto;
            text-align: center;
        }
    }
    .columns {
        padding: 50px 15px;
        text-align: center;
        a {
            font-size: 2.0em;
            font-weight: 800;
            border-bottom: solid 0.15em;
        }
        p {
            font-size: 1.5em;
            font-weight: 600;
            padding: 20px 50px;
        }
    }
}
