extends layout

block head
    title emergency compliment | about

block body
    .row#about
        .push_one.five.columns
            :markdown
                Sometimes you need someone to tell you it's ok.

                Sometimes you need someone to tell you your breath smells great

                Sometimes you need someone to tell you you were spellbinding in your high school production of Grease.

                Sometimes you need a website to tell you that.

                You are on that website.

        .five.columns
            :markdown
                [Megs Senk](http://megssenk.com) created Emergency Compliment to make people feel a little bit better. She writes and designs everything while [Nate Beatty](http://natebeatty.com) codes and does fancy internet stuff to everything.
