doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')

        title Emergency Compliment
        link(rel='stylesheet', href='css/styles.css')
        script(src='js/modernizr.js')
    body
        .row.navbar.metro#mainnav
            a.toggle(gumby-trigger='#mainnav > ul', href='#'): i.icon-menu
            h3.six.columns#logo: a(href='/index.html') emergency compliment
            ul.six.columns
                li: h4: a(href='#') about
                li: h4: a(href='#') store
                li: h2: a(href='#'): i.icon-twitter
                li: h2: a(href='#'): i.icon-instagram
                li: h2: a(href='#'): i.icon-tumblr
        .row
            .seven.columns.centered
                p.compliment
                    | loading...
        .row#actionbtns
            .seven.columns.centered

                .large.default.btn#thanksbtn: a(href='#') Thanks!

                .large.default.btn#mehbtn: a(href='#') Meh.

        //- MODAL WINDOWS

        .modal#buythebook
            .content
                a.close.switch(gumby-trigger='|#buythebook'): i.icon-cancel
                .row
                    .ten.columns.centered.text-center
                        p Know what's better than compliments from a website? Compliments from <a href="#">a book!</a>

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
        script(src='js/gumby.min.js')
        script(src='js/main.js')
