extends layout

block head
    title Emergency Compliment

block body
    .row
        .seven.columns.centered
            p.compliment
                span(style='color: #0080ff;') loading...
    .row#actionbtns
        .seven.columns.centered

            .large.default.button#thanksbtn: a(href='#') thanks!

            .large.default.button#mehbtn: a(href='#') meh.

    //- MODAL WINDOWS

    .modal#buythebook
        .content
            .row
                .twelve.columns.text-center.modalframe
                    a.close.switch(gumby-trigger='|#buythebook'): i.icon-cancel
                    p Know what's better than compliments from a website? Compliments from <a href="http://www.amazon.com/Emergency-Compliment/dp/1402294212/ref=sr_1_1?ie=UTF8&qid=1406137377&sr=8-1&keywords=emergency+compliment">a book!</a>
