extends layout

block head
    title Emergency Compliment

block body
    .row
        .seven.columns.centered
            p.compliment
                span(style='color: #0080ff;') loading...
    .row#actionbtns
        .seven.columns.centered

            .large.default.btn#thanksbtn: a(href='#') Thanks!

            .large.default.btn#mehbtn: a(href='#') Meh.

    //- MODAL WINDOWS

    .modal#buythebook
        .content
            a.close.switch(gumby-trigger='|#buythebook'): i.icon-cancel
            .row
                .ten.columns.centered.text-center
                    p Know what's better than compliments from a website? Compliments from <a href="#">a book!</a>
