doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1')

        block head

        link(rel='stylesheet', href='css/styles.css')
        script(src='js/modernizr.js')
    body
        .row.navbar.metro#mainnav
            a.toggle(gumby-trigger='#mainnav > ul', href='#'): i.icon-menu
            h1.five.columns.logo: a(href='/index.html') emergency&nbsp;compliment
            ul.seven.columns
                li: a(href='about.html') about
                li: a(href='store.html') store
                li: a(href='https://twitter.com/emergencycompliment'): i.icon-twitter
                li: a(href='http://instagram.com/emergencycompliment'): i.icon-instagram
                li: a(href='http://emergencycompliment.tumblr.com/'): i.icon-tumblr

        block body

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
        script(src='js/gumby.min.js')
        script(src='js/main.js')
