extends layout

block head
    title emergency compliment | store

block body
    .row#store
        .six.columns
            a.posterlink(href='http://society6.com/emergencycompliment'): #posterbox
                p you could be an astronaut if you wanted, NASA told me so
            a.posterlink(href='http://society6.com/emergencycompliment') posters
            .hidemobile: p.posterpgph#togglepviz As well as cell phone cases, stationery and fancy canvas thingies!
            .showmobile: p.posterpgph As well as cell phone cases, stationery and fancy canvas thingies!

        .six.columns
            a.booklink(href='http://www.amazon.com/Emergency-Compliment/dp/1402294212/ref=sr_1_1?ie=UTF8&qid=1406137377&sr=8-1&keywords=emergency+compliment'): #bookbox
                p emergency<br>compliment
                p.small 60 nice things you never would have thought to say<br>(that might just save the day)
                p.small.author Megs Senk
            a.booklink(href='http://www.amazon.com/Emergency-Compliment/dp/1402294212/ref=sr_1_1?ie=UTF8&qid=1406137377&sr=8-1&keywords=emergency+compliment') the book
            .hidemobile: p.bookpgph#togglebviz Compliments you can hold in your hand! Or tear out and give to friends!
            .showmobile: p.bookpgph Compliments you can hold in your hand! Or tear out and give to friends!
